@import "../vendor/purecss";
@import "../vendor/hint";

*, *:after, *:before {
  box-sizing: border-box;
}

html, body, #root, #app {
  width: 100%;
  height: 100%;
}

.side-bar {
  background: cadetblue;
  height: 100%;
}

.view {
  height: 100%;
}

.top-bar {
  position: absolute;
  background: teal;
  width: 100%;
  height: 50px;
  + .view {
    padding-top: 50px;
  }
}